<p id="notice"><%= notice %></p>


<%= render 'form',post: @post %>

<h1 class="title">Mensagens</h1>

<tbody>
    <% @posts.each do |post| %>
    <div class="posts">
     <%= post.comment %>
      <%= post.created_at%>
      <%= post.updated_at%>
      <%= link_to 'Editar', edit_post_path(post) %>
      <%= link_to 'Excluir', post, method: :delete%>
    </div>
    <% end %>
</tbody>
