.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;

}

header {
    max-width: 100%;
    height: 150px;
    background-color: #333333;
    color: #fafafafa;
    font-size: 3em;
    margin: 0 auto;     
}

.posts {
    margin-bottom: 15px;
    color: blueviolet;
}

