<!DOCTYPE html>
<html>
  <head>
    <title>Tarefa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header class="header">
    <h1> Tarefa Ruby On Rails </h1>
    </header>
      <%= yield %>
      <footer>
      </footer>
  </body>
</html>
